h4 {
    padding: 0;
    margin: 0;
}

.container {
    padding: 5px;
}

.input-form {
    padding: 10px;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.input-form input {
    padding: 5px;
    height: 20px;
    min-width: 300px;
    margin-left: 5px;
    border: 1px solid #111;
    border-radius: 8px;
}

.input-form input:focus {
    outline: none;
}

.input-form button {
    padding: 5px;
    width: 100px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: #ffffff;
    color: rgb(15, 15, 15);
}

.input-form button:hover {
    cursor: pointer;
    
    background-color: rgb(110, 110, 110);
}

table {
    border: 1px solid rgb(140 140 140);
}
  
th,
td {
    padding: 5px;
    border: 1px solid rgb(160 160 160);
}

.question {
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    margin-bottom: 10px;
}


#result {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#result p {
    background-color: rgb(236, 236, 236);
    padding: 5px 10px;
    border: 1px solid #111;
    margin-bottom: 0;
}

#result h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(222, 221, 223);
    padding: 0;
    margin-bottom: 0;
}

#result ol {
    color: rgb(222, 221, 223);
}